body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --bg-main: #0c1012;
  --bg-glass: rgba(12, 16, 18, 0.55);
  --text-main: #e9f9ff;
  --text-muted: #9ed6e0;

  --accent-1: #00eaff;
  --accent-2: #12c0ca;

  --btn-text: #002e33;
  --border-soft: rgba(255, 255, 255, 0.08);
}

[data-theme="light"] {
  --bg-main: #f7fbfd;
  --bg-glass: rgba(255, 255, 255, 0.75);
  --text-main: #0c1012;
  --text-muted: #4b6b73;

  --btn-text: #002e33;
  --border-soft: rgba(0, 0, 0, 0.08);
}
